<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056319240820-ogurbm8viu513dct06vfnbbov8ospp8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056319240820-ogurbm8viu513dct06vfnbbov8ospp8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDlE8IV4tur7RkfaJLSetYKUnSwD8naJS4</string>
	<key>GCM_SENDER_ID</key>
	<string>1056319240820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.creativeyoung.Messanger</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7629c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7629c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056319240820:ios:05d2cfec9d08be1b19ef21</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-7629c.firebaseio.com</string>
</dict>
</plist>